@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* styling text */
h1 {
	/*color: red;
	color: #000000;
	color: rgb(240, 0, 0);*/
	color: hsla(20, 100%, 50%, 0.5);
	text-align: center;
	text-decoration: overline;
}
p{
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	font-family: Montserrat;
	line-height: 1.5;
	padding: 30px;
}
/* backgrounds */
body {
	background-color: rgba(0, 0, 60, 0.2);
	background-image: url("cat.png");
	background-repeat: no-repeat;
	background-size: cover;
}
/* links/urls */
div a {
	text-decoration: none;
	font-size: 30px;
	border: 1px solid black;
	padding: 15px;
	margin: 20px;	
}

div a:link {
	color: red;
}

div a:visited{
	color: orange;
}
div a:hover {
	color: white;
	background-color: blue;
}
div a:active {
	color: white;
	background-color: red;
}

/* borders */
table, th, td {
	/*
	border-width: 1px;
	border-style: solid;
	border-color: red;*/

	border: 1px solid red;
	border-collapse: collapse;

}
.apar {
	border: 1px solid black;
	border-radius: 55px;
}

ul {
	list-style-type: square;
}
input, [type="text"] {
	display: block;
	/*margin-top: 10px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 20px;

	margin: 10px 0 0 20px;
	margin: 10px 20px;
	margin: 10px;*/
	margin: 10px auto;
}
.first{
	width: 100px;
	height: 170px;
	padding: 30px;
	border: 1px solid black;
}
.second{
	width: 100px;
	height: 170px;
	border: 1px solid black;
}
*{
	box-sizing: border-box;
}

